*{
    font-family: 'Montserrat', sans-serif;
}

h1{
    color: red;
}


.drag-area {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}
.drag-area.dragging {
    background-color: #f1f1f1;
    border-color: #333;
}
.thumb {
    max-width: 100px;
    margin: 10px;
}

.resultImg{
    width: 50% !important;
}